{% extends "base.html" %}
{% block content %}

<style>
    div.container-fluid{
        background-color: #172967;
        height: 60px;
        margin-top: -10px;
    }
    div.container-fluid a{
        color: #f9f3ec;
    }
    body{
        background-color: #f9f3ec;
        /* background-image: linear-gradient(rgb(191, 226, 255), rgb(230, 185, 194)); */
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .footer-basic {
  background-color:#172967;
  margin-top:20%;
  padding:30px 0;
 
  color:white;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 18px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {  
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:white;
  margin-bottom:0;
}
div.container button:hover{
  font-size: 18px;
  background-color:rgb(160,40,40) ;
}
.btn-outline-primary{
    background-color: rgb(160,40,40);
  border: none;
  width: 10%;
  padding: 1rem; 
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition:all 0.6s;
  border-radius: 5px;
  font-family: 'Courier New', monospace;

}
.btn-outline-primary:hover{
  font-size: 18px;
  background-color:rgb(160,40,40) ;
}

    </style>
<body>
<h1>Delete Post</h1>
<br>

<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <strong>Are you sure?!</strong><br>
        <button class="btn btn-outline-primary">Delete</button>
        <a class="btn btn-outline-primary" href="{% url 'home' %}">Back</a>

       
</div>
</body>
{% endblock %}